.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrrow-foot {
	font-size:(62/10)*1rem;
	width:(12/62)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(19/10)*1rem;
	width:(11/19)*1em;
}
.icon-chevron-right {
	font-size:(19/10)*1rem;
	width:(11/19)*1em;
}
.icon-fan {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-fire {
	font-size:(134/10)*1rem;
	width:(134/134)*1em;
}
.icon-plug-silhouette {
	font-size:(99.012/10)*1rem;
	width:(99.012/99.012)*1em;
}
.icon-usb-symbol {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-water {
	font-size:(90/10)*1rem;
	width:(90/90)*1em;
}
