mixin s-docs()
	// start s-docs
	+b.s-docs.section#s-docs&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Разрешающие документы
				+e.text.text-primary Допуски и&nbsp;лицензии
			+e.slider--js.swiper-container
				.swiper-wrapper.gal
					mixin sl(i)
						+e.slide.swiper-slide
							+e.img-wrap(href=`img/doc-${i}.jpg`)
								img.res-i.lazy(src="#" data-src=`img/doc-${i}.jpg`, alt="")
					+sl('1')
					+sl('1')
					+sl('1')
					+sl('1')
					+sl('1')
		.swiper-pagination
		
	// end s-docs