.s-projects {
	position: relative;
	 padding-top: 0 !important;
	 background-color: #f7f7f7;
		 @include media-breakpoint-up(md) {
			 padding-bottom: 0;
		 }
		 padding-bottom: rem(30);
	 .section-title{
		@include media-breakpoint-up(md) {

			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			color: #ffffff;
			
			z-index: 10;
			h2{
				max-width: 460px;
			}
			text-align: left;
		}
		text-align: center;
	 }	

	 &__slide{
		@include media-breakpoint-up(md) {

			padding-top: rem(276);
			padding-bottom: rem(80);
		}
		padding-top: 0;
		padding-bottom: rem(20px);
		 @include media-breakpoint-down(sm) {
			 background-image: none !important;
		 }
	 }
	 &__caption{
	}
	&__block{
		@include media-breakpoint-up(md) {

			background-color: #ffffff;
		} 
		@include media-breakpoint-up(xl) {
			
			padding: rem(55) rem(68);
			// padding: rem(25) rem(38);
		}
		
		@include media-breakpoint-up(lg) {

			padding: rem(25) rem(38);
		}

		@include media-breakpoint-up(md) {

			padding: rem(20) rem(15);
		}
	 }
	 &__prim{
		 @extend .h6;
		 color: $primary; 
		 font-weight: 700;
		}
		&__title{
			@extend h2;
			margin-bottom: 0;
		}
		&__city{
			@extend .h4;
			//  @include rfs(28);
			
		}
		&__gray{
			color: $secondary;
			margin-bottom: em(25);
		}
		&__title-sm{
			@extend .h3;
			font-weight: bold;

	 }
	 &__text{
		 margin-bottom: rem(25);
	 }
	 &__col{
		@include media-breakpoint-up(lg) {

			width: rem(250px);
		}
		padding-bottom: rem(45);
		}
		&__p{
			
			@include rfs(#{rem(18)});
			@include media-breakpoint-up(sm) {

				max-width: rem(185);
			}
			max-width: rem(165);
	 }
	 &__btn{
		 @include btn;
		 @extend .btn-lg;
		 @extend .btn-block;
		 max-width: rem(300);
		 margin-bottom: rem(5);
		 @include media-breakpoint-up(md) {
			 margin-left: 0;
			 margin-top: 0;
			 margin-bottom: 0;
		 }
		 margin: rem(20)  auto rem(40);
	 }
	 &__block--right{
		 @include bgs;
		 background-image: url(../img/project-bg.jpg);
	 }
	 &__text-wrap{
		 position: relative;
		 padding-left: rem(30);
	 }
	 &__count{
		 @include rfs(#{rem(92)});
		 color: $primary;
		 font-weight: bold;
		 line-height: 1;
		 position: relative;
		 padding-left: rem(30);
		 &::before{ 
			 content: '>';
			 font-size: em(10);
			 position: absolute;
			 left: 0;
			 top: em(10);
			}
		}
		&__sm{
			
			padding-left: rem(30);
	 }


	 &__img-wrap{
		 @include block(290, 145);
		 margin-bottom: rem(30);
	 }
	 position: relative;
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {
		&__slide{
			padding-top: 0;
		}
		.section-title{
			padding-bottom: rem(10);
		}
	} 

}

.count-block{
	@extend h4;
	text-align: center;
	width: rem(60px);
	margin-left: auto;
	margin-top: rem(4);
	&__current{
		margin-bottom: -2px;
		color: $primary;
	}
	&__current,
	&__total{
		height: rem(60px);
		border: 2px solid #e3e3e3;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.swiper-button-hand{
	@include btn;
	position: static !important;
	// opacity: 1 !important;
	background-image: none !important;
	// display: flex;
	display: flex;
	width: rem(80);
	height: rem(80);
	margin: 0;
	// left: rem(-15);
	margin-left: rem(2);
	.icon{
		font-size: rem(19);
	}
	align-items: center;
	justify-content: center;
}