mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			+e.bot
				+e.before
					+icon('arrrow-foot')
				+e.bot-text Листайте вниз
		+e.slider--js.swiper-container
			.swiper-wrapper
				mixin sl(i, id)
					+e.slide.swiper-slide.bgs(style=`background-image: url(img/head-bg-${i}.jpg);` data-hash=`${id}`)
						+e.inner 
							.container
								block
								
								.row
									.col-xxl-5.col-md-4.col-12
										
										+e.btn.popup-with-move-anim(href="#modal-call"  data-title="Заказать расчет" data-sub-title="Заполните форму, и мы свяжемся с Вами в течение 15 минут для уточнения деталей" data-btn="Заказать расчет") Заказать расчет
									.col-auto.d-md-block.d-none
										+e.item
											+e.count 7
											+e.text лет успешной 
												br
												| работы
									
									.col-auto.d-md-block.d-none
										+e.item
											+e.count 250
											+e.text выполненных
												br
												| объектов
									
									.col-auto.d-md-block.d-none
										+e.item
											+e.count 45
											+e.text специалистов
												br
												| в штате
					// /+e.slide.swiper-slide
				+sl('1','')
					.h1 Проектно-монтажные работы любой сложности точно в&nbsp;срок
				
				+sl('2','fire')
					.h1 Установка пожарной сигнализации&nbsp;&mdash; монтаж и&nbsp;обслуживание
				
				+sl('3','water')
					.h1 Проектирование и&nbsp;монтаж систем водоснабжения и&nbsp;отопления
				
				+sl('4','vent')
					.h1 Проектирование систем вентилиции и&nbsp;кондиционирования
				
				+sl('5','elec')
					.h1 Проектирование электросетей и&nbsp;освещения
				
				+sl('6','video')
					.h1 Установка систем контроля доступа и&nbsp;видеонаблюдения
	.swiper-pagination
				
	// end header-block