mixin s-client()
	// start s-client
	+b.s-client.section#s-client
		.container
			+b.section-title.text-center
				h2(class="wow fadeInUp" data-wow-duration="0.8s") Наши клиенты
				+e.text.text-primary(class="wow fadeInUp" data-wow-duration="0.8s") Нам доверяют крупные компании
			.sldier-wrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						- for (var x = 1; x < 12; x++)
							+e.slide.swiper-slide(class="wow fadeInUp" data-wow-duration="0.8s")
								img.res-i.lazy(src="#" data-src=`img/logo-${x}.png`, alt="")
							// /+e.slide.swiper-slide
						+e.slide.swiper-slide(class="wow fadeInUp" data-wow-duration="0.8s")
							img.res-i.lazy(src="#" data-src=`img/logo-4.png`, alt="")
						// /+e.slide.swiper-slide
							
					 
				.swiper-pagination(class="wow fadeInUp" data-wow-duration="0.8s")
			+e.btn.popup-with-move-anim(href="#modal-call" data-order=`Присоединяйтесь` data-title="Оставить заявку" data-sub-title="Заполните форму, и мы свяжемся с Вами в течение 15 минут для уточнения деталей" data-btn="Оставить заявку" class="wow fadeInUp" data-wow-duration="0.8s") Присоединяйтесь
	// end s-client